@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-figtree : "Figtree", sans-serif;
    --font-mulish : "Mulish", sans-serif;
}

@theme{
    --color-borderOur : rgba(0, 93, 170, 0.6)
}
@layer base {
  h1 {
    font-family: "figtree", sans-serif;
    font-weight: 800;
    line-height: 64px;
    color: #fff;
    letter-spacing: -0.03em;
    text-align: center;
    font-size: 34px; /* default (mobile) */

    /* Responsive: for medium (md) and up */
    @media (min-width: 768px) {
      font-size: 60px;
    }
  }
}
@layer base {
  h2 {
    font-family: "figtree", sans-serif;
    font-weight: 800;
    line-height: 100%;
    color: #fafafa;
    letter-spacing: -0.03em;
    font-size: 30px; /* default (mobile) */

  }
}

@layer base {
  h3 {
    font-family: "figtree", sans-serif;
    font-weight: 800;
    line-height: 100%;
    color: #fff;
    letter-spacing: -0.03em;
    font-size: 24px; /* default (mobile) */

    /* Responsive: for medium (md) and up */
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
}

@layer base {
  p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #D8D8D8;
    letter-spacing: 0;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 18px; 
    }
  }
}

